.structure-item .ant-list-item-meta {
    align-items: center;
}



.structure-item .ant-list-item-meta-title {
    margin-bottom: 2px !important;
    font-weight: 500;
}

.structure-item .ant-list-item-meta-description {
    font-size: 12px;
    color: #8c8c8c;
}



.structure-item .ant-avatar {
    background-color: #e6f4ff;
}

.exercise-item .ant-avatar {
    background-color: transparent;
}

.structure-item-actions {
    display: flex;
    align-items: center;
    gap: 4px;
}

.structure-item-actions .ant-btn {
    color: #8c8c8c;
}

.structure-item-actions .ant-btn:hover {
    color: #1677ff;
}

.structure-item-icons-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.drag-handle {
    cursor: grab;
}

/* 可以根据需要添加更多样式 */
.content-library-search-input {
    flex: 1;
    margin-right: 8px;
}

.content-library-item-avatar {
    margin-right: 16px;
    position: relative;
}

.content-library-item-play-icon {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 18px;
    color: #fff;
}