.createWorkoutBtn {
    margin: 20px auto;
    padding: var(--spacing-xs) var(--spacing-sm);
    text-align: center;
    font-size: var(--font-md-sm);
    font-weight: var(--font-weight-md);
    color: var(--text-white);
    border: 1px solid var(--active-color);
    border-radius: var(--border-radius-md);
    cursor: pointer;
    width: fit-content;
}